<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заголовок по умолчанию{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <style>


        .body {
            background-image: url('{% static 'images/background2.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="body" >

    <div class="header">
        <a href="/"> <img src="{% static 'images/logo.jpg' %}" alt="Логотип" class="logo"></a>

        <h1 class="title">Производство. Разработка месторождений</h1>
{% block content1 %}{% endblock %}    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
