{% extends 'base.html' %}
{% load static %}

{% block title %}Список заказов

{% endblock %}
{% block content1 %}

        <form action="sendText" method="post" enctype="multipart/form-data" class="search-form">
            {% csrf_token %}
            <input name="text" type="text" placeholder="Поиск">
            <button type="submit" class="search-button">
                <img src="{% static 'images/search-icon.png' %}" alt="Поиск" class="logo">
            </button>
        </form>

{% endblock %}
{% block content %}

 <style>


        /* CSS для размещения элементов на одной линии */
        .header {
            display: flex;
            align-items: center;
        }

        .search-form {
           margin-left: auto;/*  Перемещение формы в правый угол */
            display: flex; /* Для размещения поля поиска и кнопки на одной линии */
            /*position: absolute;
            top: 5%;
            left: 40%;*/

        }

        .search-form input[type="text"] {
            margin-right: 10px; /* Расстояние между полем поиска и кнопкой */
        }
        .body {
            background-image: url('{% static 'images/background2.png' %}');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

<!-- В вашем HTML-шаблоне -->
<ul class="card-container">
    {% for order in data.orders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <div class="card">
    <a href="{% url 'order_url' order.id %}" class="no-underline-link">
        <img src="{% static order.image %}" alt="{{ order.title }}">
        <p>{{ order.title }}</p>
    </a>
</div>

    {% empty %}
    <li>ничего не найдено</li>
    {% endfor %}
</ul>

{% endblock %}
