{% extends 'base.html' %}
{% load static %}

{% block title %}Список заказов

{% endblock %}
{% block content1 %}

        <form action="sendText" method="post" enctype="multipart/form-data" class="search-form">
            {% csrf_token %}
            <input name="text" type="text" placeholder="Поиск">
            <button type="submit" class="search-button">
                <img src="{% static 'images/search-icon.png' %}" alt="Поиск" class="logo">
            </button>
        </form>

{% endblock %}
{% block content %}


<!-- В вашем HTML-шаблоне -->
<ul class="card-container">
    {% for order in data.orders %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <div class="card">

    <a href="{% url 'order_url' order.id %}" class="no-underline-link">
        <img src="{% static order.image %}" alt="{{ order.title }}">
        <p>{{ order.title }}</p>
          <p>{{ order.worker }}</p>

    </a>
</div>

    {% empty %}
    <li>ничего не найдено</li>
    {% endfor %}
</ul>

{% endblock %}
